:root{
    --lightbeige: #EAE7DC;
    --lightbrown: #D8C3A5;
    --darkergrey: #8e8d8a;
    --brightsalmon: #e98074;
    --brightred: #E85a4f;
    
}
body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color:var(--lightbeige) ;
}
#form{
    flex: 1;
    height: 100vh;
}
#title{
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    color:var(--brightred)
}

#properties{
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    background-color: beige;
    border:1px solid var(--darkergrey);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}